@model OnPaceRaceAdmin.ViewModels.EditRunnerViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>@Model.Runner.FirstName @Model.Runner.LastName</h2>
<hr />
<div class="row">
    <div class="col-sm-12">
        <form asp-action="Edit" asp-controller="Runners">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Runner.Id" />
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-lg-9 col-sm-12">
                    <h4>Contact Info</h4>
                </div>
                <div class="col-lg-3 col-sm-12">
                    <table class="float-right">
                        <tr>
                            <td>
                                <a asp-action="Index" class="btn btn-danger">Cancel</a>

                            </td>
                            <td>
                                <input type="submit" value="Save Contact Info" class="btn btn-success" />

                            </td>
                        </tr>
                    </table>
         
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <div class="form-group">
                        <label asp-for="Runner.FirstName" class="control-label"></label>
                        <input asp-for="Runner.FirstName" class="form-control" />
                        <span asp-validation-for="Runner.FirstName" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-12">
                    <div class="form-group">
                        <label asp-for="Runner.PhoneNumber" class="control-label"></label>
                        <input asp-for="Runner.PhoneNumber" class="form-control" />
                        <span asp-validation-for="Runner.PhoneNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-6 col-md-4 col-sm-12">
                    <div class="form-group">
                        <label asp-for="Runner.Address" class="control-label"></label>
                        <input asp-for="Runner.Address" class="form-control" />
                        <span asp-validation-for="Runner.Address" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <div class="form-group">
                        <label asp-for="Runner.LastName" class="control-label"></label>
                        <input asp-for="Runner.LastName" class="form-control" />
                        <span asp-validation-for="Runner.LastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <div class="form-group">
                        <label asp-for="Runner.Email" class="control-label"></label>
                        <input asp-for="Runner.Email" class="form-control" />
                        <span asp-validation-for="Runner.Email" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-12">
                    <div class="form-group">
                        <label asp-for="Runner.City" class="control-label"></label>
                        <input asp-for="Runner.City" class="form-control" />
                        <span asp-validation-for="Runner.City" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-12">
                    <div class="form-group">
                        <label asp-for="Runner.StateId" class="control-label"></label>
                        <select asp-for="Runner.StateId" asp-items="Model.States" class="form-control"></select>
                        <span asp-validation-for="Runner.StateId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-1 col-md-3 col-sm-12">
                    <div class="form-group">
                        <label asp-for="Runner.Zipcode" class="control-label"></label>
                        <input asp-for="Runner.Zipcode" class="form-control" />
                        <span asp-validation-for="Runner.Zipcode" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <br />
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <h4>Demographic Data</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-12">
                    <div class="form-group">
                        <label asp-for="Runner.Age" class="control-label"></label>
                        <input asp-for="Runner.Age" class="form-control" />
                        <span asp-validation-for="Runner.Age" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-12">
                    <div class="form-group">
                        <label asp-for="Runner.GenderId" class="control-label"></label>
                        <select asp-for="Runner.GenderId" asp-items="Model.Genders" class="form-control">
                            <option>-- Select -- </option>
                        </select>
                        <span asp-validation-for="Runner.GenderId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-12">
                    <div class="form-group">
                        <label asp-for="Runner.ClothingSizeId" class="control-label"></label>
                        <select asp-for="Runner.ClothingSizeId" asp-items="Model.ClothingSizes" class="form-control">
                            <option>-- Select -- </option>
                        </select>
                        <span asp-validation-for="Runner.ClothingSizeId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-12">
                    <div class="form-group">
                        <label asp-for="Runner.RunnerStatusId" class="control-label"></label>
                        <select asp-for="Runner.RunnerStatusId" asp-items="Model.RunnerStatuses" class="form-control">
                            <option>-- Select -- </option>
                        </select>
                        <span asp-validation-for="Runner.RunnerStatusId" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");       
    }
}
